<div class="p-3 footerStyle text-light">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <div class="col order-last order-md-first text-md-start d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="col-12">
                        @*<span class="me-1">Built By</span> <span><img src="/images/MagicCodeSquareLogo.png" height="30" /></span> *@
                    </div>
                    <div class="col-12 small">
                        &copy; 2026 by Alberto Morales. All rights reserved.
                    </div>
                </div>
            </div>
            <div class="col lead">
                <div>Powered by</div>
                <img src="/images/tmdb_long_logo.svg" height="20" />
            </div>
            <div class="col d-flex align-items-center justify-content-end flex-column">
                <div class="row">
                    <div class="col-12">
                        <a href="https://x.com/anytimecoders" target="_blank"><i class="bi bi-twitter-x"></i></a>
                        <a href="https://github.com/sealtx72" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/alberto-morales-260564217/ target=" _blank""><i class="bi bi-linkedin"></i></a>
                    </div>
                    <div class="col-12">
                        <a href="https://amorales.netlify.app/" target="_blank">Portfolio</a>
                        &bull;
                        <a href="https://titan-blogs.herokuapp.com/" target="_blank">Blog</a>
                        &bull;
                        <a href="http://titan-bugtracker.herokuapp.com/" target="_blank">Bug Tracker</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@code {

}
