@page "/popular"
@inject TMDBService TMDBService

<PageTitle>Popular Movies</PageTitle>

<div class="container-xxl py-3">
    <h1>
        <i class="bi bi-stars text-warning"></i>
        Popular
    </h1>
    <p class="lead italic">
        Movies that are currently popular with TMDB users.
    </p>
    @if (popularMovies is null)
    {
        <div class="d-flex justify-content-center align-items-center">
            @if (isLoading)
            {
                <h2 class="test-muted">Loading popular movies...</h2>
            }
            else
            {
                <h2 class="test-muted">Failed to load</h2>
            }
        </div>
    }
    else
    {
        <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            @foreach (var movie in popularMovies.Results)
            {
                <div class="col">
                    <MovieCard Movie="movie" />
                </div>
            }
        </div>
    }
</div>


@code {
    private MovieListResponse? popularMovies;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoading = true;
            popularMovies = await TMDBService.GetPopularMovies();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally
        {
            isLoading = false;
        }

    }

}
