@if (Actor is not null)
{
    <div class="hstack gap-3 align-items-center px-2 swiper-item">
        <img src="@Actor.ProfilePath" class="actor-img" />
        <div>
            <div class="fw-bold text-nowrap">@Actor.Name</div>
            <div class="text-muted text-nowrap">@Actor.Character</div>
        </div>
    </div>
}


@code {
    [Parameter, EditorRequired]
    public Cast? Actor { get; set; }
}
